.navbar {
background-color: #DCCCBF;
}

.img {
width: 400px;
height: 400px;
border-radius: 200px;
margin-top: 10%;
margin-left: 10%;
}

#img-contain {
display: flex;
justify-content: center;
}

#text{
margin-bottom: 8%;
font-size: 20px;
}

.header {
margin-top: 10%;
margin-bottom: 10%;
}

@media screen and (max-width: 800px) {
    
    .img {
        display: none;
    }
    

    #text {
        margin-bottom: 10px;
    }
}