.navbar {
    background-color: #DCCCBF;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece2d9;
    height: 50vh;
    max-height: 120px;
    border-radius: 10px;
    margin: 50px 50px 20px;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 50px;
    gap: 20px;
}

.articles {
    flex-direction: column;
}

article {
    background-color: #ece2d9;
    flex-wrap: wrap;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
}

.sidebar {
    flex-direction: column;
}

aside {
    text-align: center;
    background-color: #ece2d9;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px;
}

.social-medias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5% 0px;
}

span {
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    main {
        display: block;
    }
}