.navbar {
background-color: #DCCCBF;
}

.img {
width: 400px;
height: 400px;
border-radius: 200px;
margin-top: 10%;
}

#img-contain {
display: flex;
justify-content: center;
}

#text{
margin-bottom: 5%;
font-size: 20px;
}

#header {
margin-top: 10%;
margin-bottom: 10%;
}

#sub-header {
margin-top: 5%;
margin-bottom: 5%;
}

@media screen and (max-width: 800px) {
    .img {
        display: none;
    }
}
