body {
height: 100%;
}

#navbar {
background-color: #DCCCBF;
}

.row {
margin-top: 100px;
padding-bottom: 40px;
}

.col-md-4 {
border-radius: 5px;
background-color: #ece2d9;
}

.project-item {
overflow: hidden;
max-height: 500px;
}
  
.project-item p.description {
overflow: hidden;
text-overflow: ellipsis;
}

#projects {
margin-top: 100px;
}

.name {
margin: 5%;
}

.description {
margin: 5%;
}