body {
height: 100vh;
}

#navbar {
background-color: #DCCCBF;
}

#container-container {
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
}

#container {
width: 50vw;
margin-right: 5%;
}

#intro-me {
}

#photo {
    border-radius: 100px;
    width: 300px;
    height: 400px;
}



